
 
<div class="container">
    <app-nav></app-nav>
    <app-header></app-header>
    <app-notification></app-notification>
    <!-- <div class="app-notification"></div> -->
    <!-- <div app-notification></div> -->
    <app-search></app-search>
    <app-customer-list #customer></app-customer-list>
    <p>You have selected {{customer.selectedCustomer?.name}}</p>
    <!-- <app-parent></app-parent> -->
    <app-course></app-course>
    <app-view-child></app-view-child>
    <!-- <router-outlet></router-outlet> -->
    <app-content></app-content>
    <app-videos></app-videos>
</div>